html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.red-line, .green-line, .edge-line {
    stroke-width: 1%;
}

.red-line {
    stroke: red;
}
.green-line {
    stroke: green;
}

.pic-corner {
    fill: green;
}

.arrow {
    stroke: black;
    stroke-width: 0.8%;
}

#container {
    padding:0;
    margin:0;
}

#x1coord, #b1coord, #x2coord, #b2coord {
    position: relative;
    appearance: none;
    background: #d3d3d3;
    outline: none;
    padding: 0;
    margin: 0;
}

#x1-label, #b1-label {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

#x2-label, #b2-label {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

#x1coord::-webkit-slider-thumb, #x2coord::-webkit-slider-thumb {
    appearance: none;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
#b1coord::-webkit-slider-thumb {
    appearance: none;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

#x2coord::-webkit-slider-thumb, #b2coord::-webkit-slider-thumb {
    appearance: none;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

#x1coord::-webkit-slider-thumb, #x2coord::-webkit-slider-thumb {
    background: black;
}

#b1coord::-webkit-slider-thumb, #b2coord::-webkit-slider-thumb {
    background: blue;
}

p, h1, td {
    font-family: Helvetica, sans-serif;
    padding: none;
}

p, td {
    font-size: 10pt;
}

button {
    background-color: #eee;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10pt;
    cursor: pointer;
    width: 12vw;
}

.mode-button {
    width: 20vw;
}

.half-mode-button {
    width: 10vw;
    margin: 0;
}

button:hover, .current-mode {
    background-color: #ddd;
}

#fix-image-button {
    margin: 20px;
}

span {
    margin: 0;
    padding: 0;
}