* {
    user-select:none;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.red-line, .green-line, .edge-line {
    stroke-width: 0.6%;
}

.boundary-line, .blue-line {
    stroke-width: 0.8%;
}

.red-line {
    stroke: red;
}
.green-line {
    stroke: green;
}

.pic-corner {
    fill: green;
}

.arrow {
    stroke: black;
    stroke-width: 0.8%;
}

#container {
    padding:0;
    margin:0;
}

p, h1, td {
    font-family: Helvetica, sans-serif;
}

p, td {
    font-size: 11pt;
}

button {
    background-color: #eee;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10pt;
    cursor: pointer;
    width: 12vw;
}

#game-info tr td, #matrices tr td {
    width: 13vw;
}

#game-info tr td {
    text-align: center;
}

.info-header {
    padding: 2vh 0 1vh 0;
}
#matrices tr td table {
    width: 80px;
}

.mode-button {
    width: 20vw;
}

.half-mode-button {
    width: 10vw;
    margin: 0;
}

button:hover, .selected {
    background-color: #bbb;
}

/* #fix-image-button {
    margin: 20px;
} */

span {
    margin: 0;
    padding: 0;
}

#nav-bar {
    position: absolute;
    bottom: 1vh;
    left: calc(80vh + 4.5vw);
}

#nav-bar div {
    display: flex;
}

#nav-bar button {
    width: 9vw;
    height: 6vh;
    font-size: 12pt;
}

#content {
    position:absolute;
    top:2vh;
    left: calc(80vh + 5vw);
    width:26vw;
    height:85vh;
    text-align: center
}

#pictures {
    display: flex-col;
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    text-align: center;
}

#switch-players {
    width: 25vw;
}

#navigation, #notable-games {
    width: 26vw;
}

#blue-line-1 {
    cursor: ew-resize;
}

#blue-line-2 {
    cursor: ns-resize;
}

#blue-corner-1 {
    cursor: all-scroll;
}

#blue-corner-2 {
    cursor: ew-resize;
}

.matrix-class-number {
    fill: white;
    font-family: sans-serif;
    font-size: 15pt;
    font-weight: bold;
    stroke-width: 1px;
    stroke: black;
    /* text-shadow: 0 0 2px white; */
}

h2 {
    padding: 0;
    margin: 10px 0 5px 0;
    font-size: 13pt;
    font-family: sans-serif;
}

#display-options {
    border-collapse: separate;
    border-spacing: 5px 0;
}

#display-options tr td button {
    width: 10vw;
}

.row-header {
    position: absolute;
    transform: translateX(calc(-100% - 10px));
}

#legend {
    position: relative;
    top: calc(80vh / 7 * 3 - 20px);
    width: 5vw;
    height: calc(40vh + 40px);
}

#view-custom-1 {
    color: rgb(150,0,0);
}

#view-custom-2 {
    color: rgb(0,0,150);
}