:root {
	--background: rgb(240, 240, 240);
	--navbar: rgb(210, 210, 210);
}

* {box-sizing: border-box;}

body, div {
	margin: 0;
	padding: 0;
	font-size: 100%;
	background-color: var(--background);
}

#header {
	background-image: url("files/cosmic cliffs.png");
	background-color: var(--navbar);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

#header h1 {
	height: 22vh;
	margin: 0;
	padding: 6vh 2vw;
	font-family: trebuchet ms, sans-serif;
	font-size: 8vh;
	color: white;
	text-shadow: 0 0 10px black;
}

#nav {
	list-style-type: none;
	margin: 0 0 5vh 0;
	padding: 0;
	display: flex;
	background-color: none;
}

#nav li {
	padding: 0 2px 0 0;
	margin: 0;
}

#nav li a {
	padding: 3vh 3vw;
	margin: 0;
	background-color: var(--navbar);
	text-decoration: none;
	color: black;
	font-size: 130%;
	white-space: nowrap;
	display: block;
	font-family: trebuchet ms, sans-serif;
}

#nav li:last-child {
	background-color: var(--navbar);
	display: block;
	width: 100%;
}

#nav li a:hover {
	background: none;
	text-shadow: 0 0 10px black;
	color: white;
}

#img-src {
	position: absolute;
	right: 5px;
	top: 21vh;
	font-size: 70%;
	font-family: libre baskerville, times new roman, serif;
	color: white;
}

.text, .game {
	padding: 1vh 3vw;
	height: auto;
}

.text ul, .game ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.text p, .game p {
	font-family: libre baskerville, times new roman, serif;
	font-size: 95%;
	line-height: 1.7;
	margin: 1.5vh 0;
}

.text h2, .game h2 {
	margin: 2vh 0 1vh 0;
	padding: 0;
	font-family: libre baskerville, times new roman, serif;
	line-height: 1.7;
}

.text img {
	float: right;
	margin: 1vh 0 5vh 3vw;
}

.game {
	min-height: 25vw;
}

.game img {
	float: right;
	max-width: 20vw;
	height: auto;
	margin: 1vh 2vw;
}

a {color: black;}
a:hover {color: red;}
